{
  "overrides": [
    {
      "files": "*.scss",
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": ["*.js", "*.vue"],
      "options": {
        "singleQuote": true
      }
    }
  ]
}
